name: Remove Pull Request Images When PR is Closed
permissions: read-all
on:
  pull_request:
    types: [closed]
jobs:
  delete-pr-image:
    name: Delete PR image after PR was closed
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Delete PR image
        uses: dataaxiom/ghcr-cleanup-action@cd0cdb900b5dbf3a6f2cc869f0dbb0b8211f50c4 # v1
        with:
          delete-tags: pr-${{github.event.pull_request.number}}
